:root{
--primary:gold;
--primary-variant:tan;
--secondary:brown;
--secondary-variant:red;
--background:tan;
--error:rgb(224, 224, 222);
--primary-text:rgb(70, 30, 30);
--secondary-text:;
--base-spacing:;
--border-primary:black;
--border-secondary:silver;
}

.myButton {
	box-shadow: 0px 0px 0px 1px rgb(70, 30, 30);
  border-radius:20px;
  border-style: double;
	display:inline-flex;
  padding: 20px;
	color:rgb(70, 30, 30);
	font-family:Arial;
  font-size:16px;
  text-decoration:none;	
}

nav{
  column-count:3;
  text-align:center;
  }

.myButton:hover {
  background-color:rgb(70, 30,30);
  
}
header img{
max-width: 100%;
}
header{
background-color:#faf8f8;
text-align: center;
border-style:double;
border-top-width:2px;
color:rgb(70, 30, 30);
}
/*  look up how to move buttons up and images over*/


body{
  background-color:rgb(232, 205, 169);
}

h2{
  color:rgb(70, 30, 30);
  text-align:center;
  border-width:5px;
  border-radius: 30px; 
  border-style:double;
  font-size: 2em;
  font-family: cursive;
  top:-10px;
}

p {
  color:rgb(70, 30, 30);
  text-align:center;
  border-width:5px;
  font-weight: bold;  
  }

  footer{
  color:tan;
  background-color:rgb(70, 30, 30);
  /* text-align: center; */
  margin: -9px;
  padding: 21px;
}

.rights {
  padding: 21px;
  display: flex;
  justify-content: space-around;
  /* justify-content: center; */
}

.contact{
  color:tan;
  text-align: center;
  /* position: relative; */
  top: -70%;
  text-align: center;
  justify-content: space-around;
  display: flex;
}

a, a:visited, a:active{
  color:tan;
  text-decoration: none;
  transition: 1s ease;

}

a:hover {
  color:red;
  text-decoration: none;
  font-size: 2em;
  font-family: cursive;
}
