:root{
--primary:gold;
--primary-variant:tan;
--secondary:brown;
--secondary-variant:red;
--background:tan;
--error:rgb(224, 224, 222);
--primary-text:rgb(70, 30, 30);
--secondary-text:;
--base-spacing:;
--border-primary:black;
--border-secondary:silver;
}
.myButton {
	box-shadow: 0px 0px 0px 1px rgb(70, 30, 30);
  border-radius:10px;
	display:inline-block;
  padding: 20px;
	color:tan;
	font-family:Arial;
	font-size:14px;
  text-decoration:none;	
}
nav{
  column-count:3;
  }

.myButton:hover {
	background-color:transparent;
}
header{
background-color:#faf8f8;
img
text-align: center;
border-style:double;
border-top-width:2px;
color:rgb(70, 30, 30);
}
/*  look up how to move buttons up and images over*/




body{
  background-color:rgb(232, 205, 169);
}

h2{
  color:rgb(70, 30, 30);
  text-align:center;
  border-width:5px;
  border-radius: 30px; 
  border-style:double;
  font-size: 2em;
  font-family: cursive;
  top:-10px;
}

p {
  color:rgb(70, 30, 30);
  text-align:center;
  border-width:5px;
  font-weight: bold;  
  }

  footer{
  color:tan;
  background-color:rgb(70, 30, 30);
  text-align: center;
}
 
 footer p{
 color:tan;
 text-align: center;
 position: relative;
 top: -70%;
}

a, a:visited, a:active{
  color:tan;
  text-decoration: none;
  transition: 1s ease;

}

a:hover {
  color:red;
  text-decoration: none;
  font-size: 2em;
  font-family: cursive;
}
